ColumnLimit: 80
IndentWidth: 3
TabWidth: 3
MaxEmptyLinesToKeep: 1

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
IndentCaseBlocks: false
IndentCaseLabels: true
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: Inner
PointerAlignment: Left
SortUsingDeclarations: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true